header {
    padding: 0;
    margin: 0;
}

/* top section with the green background */
.top {
    width: 100%;
    margin: 0 auto;
    padding: .1rem 0;
    position: relative;
    background-color: var(--text);
}
.topflex {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.flex {
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
}
.contact {
    display: flex;
    position: relative;
    margin: 0 auto;
}
.toplink{
    text-decoration: none;
    color: var(--secondary);
    font-weight: 800;
    font-size: large;
    margin:0 .3rem;
    padding: 2px;
}
/* navigation bar */
nav {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

/* Logo section of the header */

.logo_container {
    width: 90%;
    margin: 0 auto;
    padding: .5rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_link {
    position: relative;
    text-decoration: none;
    margin: 0;
}
.logo {
    width: 25vmin;
    position: relative;
    margin: 0 auto;
}

/* bottom navbar / nav-menu */

.bottom {
    width: 100%;
    background-color: inherit;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navigation menu */

.nav_menu {
    display: flex;
    margin: 0 auto;
    width: 60%;
    box-shadow: var(--text) 0px 1px 2px 0px, var(--text) 0px 2px 6px 2px;
    padding: 0;
    border-radius: 2px;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}
.nav_list {
    position: relative;
    padding: .5rem 1rem;
    margin: 0;
    list-style: none;
}
.dropdown {
    position: relative;
    margin: 0;
    padding: 0;
    transition: all 350ms ease-in-out;
}
.dropdow_menu {
    display: none;
    transition: all 450ms ease-in-out;
    padding: 2.5rem 1rem .5rem 1rem;
    top: -0.5rem;
    left: -1rem;
    min-width: 40vmin;
    box-shadow: var(--text) 0px 1px 2px 0px, var(--text) 0px 2px 6px 2px;
    z-index: 2;
    transition: all 450ms ease-in-out;
    position: absolute;
    background-color: #fff;
    border-radius: .3rem;
}
.dropdown:hover .dropdow_menu{
    display: block;
}

/* navigation links */
.nv_links {
  color: var(--headings);
  font-weight: 700;
  text-transform: capitalize;
  font-size: large;
  text-decoration: none;
  transition: all 450ms ease-in-out;
}
.out {
    z-index: 3;
}
.nav_list a:hover {
    color: var(--headings);
}
.active {
    background-color: var(--headings);
    color: var(--secondary);
}
