/* importing our navigation styles */
@import '/files/navbar.css';
@import '/files/main.css';
:root {
    --headings: #0A07D0;
    --text: #018202;
    --secondary:#FFD600;
    --texto: #0000;
    --primary:#fff;
    --clear: rgba(0,0,0,.6);
    --extra:rgba(0,0,0,0.0125);
    --clear2: rgba(0,0,0,.3);
    --shadow: var(--text) 0px 1px 2px 0px, var(--text) 0px 2px 6px 2px;
    --btn_shadow: var(--headings) 0px 1px 2px 0px, var(--headings) 0px 2px 6px 2px;
}
* {
    position: relative;
    box-sizing: border-box;
    outline: none;
}

html, body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    width: 100%;
    box-sizing: border-box;
}